@model EstadoReal.Models.Inmueble

@{
    ViewData["Title"] = "Details";
}

<h1>Details</h1>

<div>
    <h4>Inmueble</h4>
    <hr />
    <dl class="row">
        <dt class="col-sm-2">
            @Html.DisplayNameFor(model => model.Direccion)
        </dt>
        <dd class="col-sm-10">
            @Html.DisplayFor(model => model.Direccion)
        </dd>
        <dt class="col-sm-2">
            @Html.DisplayNameFor(model => model.UsoResidencial)
        </dt>
        @if (Model.UsoResidencial == 1)
        {
            <dd class="col-sm-10">
                Sí
            </dd>
        }
        else
        {
            <dd class="col-sm-10">
                No
            </dd>
        }

        <dt class="col-sm-2">
            @Html.DisplayNameFor(model => model.Tipo)
        </dt>
        <dd class="col-sm-10">
            @Html.DisplayFor(model => model.Tipo)
        </dd>
        <dt class="col-sm-2">
            @Html.DisplayNameFor(model => model.Ambientes)
        </dt>
        <dd class="col-sm-10">
            @Html.DisplayFor(model => model.Ambientes)
        </dd>
        <dt class="col-sm-2">
            @Html.DisplayNameFor(model => model.Precio)
        </dt>
        <dd class="col-sm-10">
            @Html.DisplayFor(model => model.Precio)
        </dd>
        <dt class="col-sm-2">
            @Html.DisplayNameFor(model => model.Estado)
        </dt>
        @if (Model.Estado == 1)
        {
            <dd class="col-sm-10">
                Disponible
            </dd>
        }
        else
        {
            <dd class="col-sm-10">
                Ocupado
            </dd>
        }
        <dt class="col-sm-2">
            @Html.DisplayNameFor(model => model.IdPropietario)
        </dt>
        <dd class="col-sm-10">
            @Html.DisplayFor(model => model.IdPropietario)
        </dd>
    </dl>
</div>
<div>
    @Html.ActionLink("Edit", "Edit", new { id = Model.IdInmueble }) |
    <a asp-action="Index">Back to List</a>
</div>
