@model EstadoReal.Models.Contrato

@{
    ViewData["Title"] = "Delete";
}

<h1>Delete</h1>

<h3>¿Estás seguro de que queres borrar este contrato?</h3>
<div>
    <h4>Contrato</h4>
    <hr />
    <dl class="row">
        <dt class = "col-sm-2">
            @Html.DisplayNameFor(model => model.InicioContrato)
        </dt>
        <dd class = "col-sm-10">
            @Html.DisplayFor(model => model.InicioContrato)
        </dd>
        <dt class = "col-sm-2">
            @Html.DisplayNameFor(model => model.FinContrato)
        </dt>
        <dd class = "col-sm-10">
            @Html.DisplayFor(model => model.FinContrato)
        </dd>
        <dt class = "col-sm-2">
            @Html.DisplayNameFor(model => model.Deudas)
        </dt>
        <dd class = "col-sm-10">
            @Html.DisplayFor(model => model.Deudas)
        </dd>
        <dt class = "col-sm-2">
            @Html.DisplayNameFor(model => model.IdInquilino)
        </dt>
        <dd class = "col-sm-10">
            @Html.DisplayFor(model => model.IdInquilino)
        </dd>
        <dt class = "col-sm-2">
            @Html.DisplayNameFor(model => model.IdInmueble)
        </dt>
        <dd class = "col-sm-10">
            @Html.DisplayFor(model => model.IdInmueble)
        </dd>
    </dl>
    
    <form asp-action="Delete">
        <input type="hidden" name="IdContrato" value="@Model.IdContrato" />
        <input type="submit" value="Delete" class="btn btn-danger" /> |
        <a asp-action="Index">Volver</a>
    </form>
</div>
