@model IEnumerable<EstadoReal.Models.Contrato>


@{
    ViewData["Title"] = "Index";
}

<h1>Index</h1>


<div>
    <a asp-action="Create">Crear nuevo Contrato</a>
</div>

<table>
    <thead>
        <tr>
            <th>
                @Html.DisplayNameFor(model => model.InicioContrato)
            </th>
            <th>
                @Html.DisplayNameFor(model => model.FinContrato)
            </th>
            <th>
                @Html.DisplayNameFor(model => model.Deudas)
            </th>
            <th>
                @Html.DisplayNameFor(model => model.IdInquilino)
            </th>
            <th>
                @Html.DisplayNameFor(model => model.IdInmueble)
            </th>
        </tr>
    </thead>
    <tbody>
        @foreach (var item in Model)
        {
            <tr>
                <td>
                    @Html.DisplayFor(modelItem => item.InicioContrato)
                </td>
                <td>
                    @Html.DisplayFor(modelItem => item.FinContrato)
                </td>
                <td>
                    @Html.DisplayFor(modelItem => item.Deudas)
                </td>
                <td>
                    @Html.DisplayFor(modelItem => item.IdInquilino)
                </td>
                <td>
                    @Html.DisplayFor(modelItem => item.IdInmueble)
                </td>
                <td>
                    @Html.ActionLink("Edit", "Edit", new { id = item.IdContrato }) |
                    @Html.ActionLink("Details", "Details", new { id = item.IdContrato }) |
                    @Html.ActionLink("Delete", "Delete", new { id = item.IdContrato })
                </td>
            </tr>
        }
    </tbody>
</table>